<br>
<div class='light leady'>Ingredients</div>
<%= link_to '+', new_ingredient_path, class: 'btn btn-small' %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Label</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.category %></td>
        <td><%= ingredient.short_label %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- PLAYING WITH POS MOCK -->
<br><br><br><br><br><br><br>

<img src="/assets/TypeSixinch.jpg">
<img src="/assets/TypeFootlong.jpg">
<img src="/assets/TypeSalad.jpg">
<img src="/assets/TypeWrap.jpg">
<img src="/assets/Bread_ItalHerbs.jpg">
<img src="/assets/Bread_White.jpg">
<img src="/assets/Bread_wheat.jpg">
<img src="/assets/Bread_multi.jpg">
<img src="/assets/Bread_HoneyOat.jpg">

<br><br><br><br><br><br><br>

<span class="badge badge-info posbadge">86</span>
<span class="badge badge-info posbadge">1 / 3</span>
<br>
<span class="label label-size posbox"><br><br><br><br>12"</span>
<span class="label label-bread posbox"><br><br><br><br>H/C</span>
<span class="label label-type posbox"><br><br><br><br>BMT</span>
<span class="label label-toasted posbox"><br><br><br><br>T</span>
<span class="label label-avo posbox"><br><br><br><br>AVO</span>
<span class="label label-bacon posbox"><br><br><br><br>BCN</span>
<span class="label label-cheese posbox"><br><br><br><br>OLD</span>
<br><br><br><br><br><br><br>
<span class="muted"><h2>LET, TOM, CUC, PIC, CAP, OLV, ONI, CAR, JAL</h2></span>

<br><br><br><br><br><br><br><br><br><br>
<span class="badge badge-info posbadge">86</span>
<span class="badge badge-info posbadge">1 / 3</span>
<br>
<span class="muted"><h2>12" H/C BMT TOASTED OLD AVO BACON</h2></span>
<span class="label label-lettuce posbox"><br><br><br><br>LET</span>
<span class="label label-tomato posbox"><br><br><br><br>TOM</span>
<span class="label label-cucumber posbox"><br><br><br><br>CUC</span>
<span class="label label-pickle posbox"><br><br><br><br>PIC</span>
<span class="label label-capsicum posbox"><br><br><br><br>CAP</span>
<span class="label label-olive posbox"><br><br><br><br>OLV</span>
<span class="label label-onion posbox"><br><br><br><br>ONI</span>
<span class="label label-carrot posbox"><br><br><br><br>CAR</span>
<span class="label label-jalapeno posbox"><br><br><br><br>JAL</span>
<span class="label label-salt posbox"><br><br><br><br>S</span>
<span class="label label-pepper posbox"><br><br><br><br>P</span>

